.movie-list  {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.movie-list > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-list img {
  width: 100px;
  margin-right: 1rem;
}